.is-forum-comment .post-card-right :is(.like, .comment) span {
  color: var(--green--md);
  font-size: 20px;
  font-weight: 300;
  font-variation-settings: "wght" 300;
  line-height: 28px;
  text-align: center;
}

.is-forum-comment .post-card-body:nth-child(3) {
  margin-top: 16px;
}
.is-forum-comment .post-card-body:not(:first-child) :is(.post-card-center) {
  margin-bottom: 16px;
}

.is-forum-comment .post-card-body:not(:first-child) .post-card-center-body {
  background-color: var(--gray--xs);
}

.is-forum-comment .post-card-body:not(:first-child) .post-card-center-body p {
  color: var(--gray--xl);
}
.is-forum-comment .post-card-body:not(:first-child) .post-card-right {
  display: none;
}

.is-forum-comment .post-card-body:not(:first-child) {
  padding: 0 16px;
}

.post-comment-input {
  display: none;
}
.is-forum-comment .post-comment-input {
  display: flex;
  gap: 8px;
  padding: 0 8px;
  margin-bottom: 8px;
}
.is-forum-comment .post-comment-input .form-control {
  max-width: 100%;
  width: 100%;
}

.is-forum-comment .post-comment-input .form-control input {
  border-radius: 60px;
}
