@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }

  :is(#header-primary, #header-secondary) div {
    gap: 40px;
  }

  #hero div:first-child h2 {
    font-size: 40px;
  }

  #hero > div:last-child img {
    max-width: 500px;
  }

  .artikel-hero h1 {
    font-size: 44px;
    line-height: 58px;
  }

  .artikel-hero .h1-line-step span:first-child {
    max-width: 465px;
  }

  .artikel-populer .artikel-card-primary {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  #nav-desktop {
    display: none !important;
  }

  .btn-mobile[data-nav="true"] ~ #nav-mobile {
    display: flex !important;
    right: 0;
  }

  .btn-mobile {
    display: flex;
  }

  #homepage #hero {
    flex-direction: column;
  }

  #homepage #hero > div:first-child {
    margin-bottom: 40px;
    text-align: center;
  }

  #homepage #hero > div:last-child img {
    width: 100%;
  }

  #homepage #about > div {
    flex-direction: column;
  }

  #homepage #about > div:last-child img {
    width: 100%;
  }

  #homepage #why > div {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  #homepage #why > div > div > div {
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  #homepage #contact .form-control {
    width: 100%;
  }

  #login,
  #create-account,
  #forgot-password,
  #new-password {
    flex-direction: column;
    padding: 8px !important;
    gap: 32px;
    text-align: center;
    justify-content: flex-start;
  }

  #forgot-password,
  #new-password {
    flex-direction: column-reverse;
    justify-content: flex-end;

  }

  #login .login-form,
  #create-account .create-account-form,
  #forgot-password .forgot-password__form,
  #new-password .new-password__form {
    width: 100%;
  }

  #forgot-password .forgot-password__form,
  #new-password .new-password__form {
    align-items: center;
  }

  :is(#login, #create-account, #forgot-password, #new-password) .form-control {
    width: 100%;
  }

  #login > div:first-child img,
  #forgot-password > div:last-child img,
  #new-password > div:last-child img {
    width: 100%;
  }

  footer > div {
    flex-direction: column;
    text-align: center;
    align-items: center;

  }

  footer > div:first-child > div:last-child > div {
    justify-content: center;
  }

  footer > div:first-child > div:last-child > div .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 425px;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  #homepage #team > div div img {
    transform: scale(0.8);
  }
}