@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }

  :is(#header-primary, #header-secondary) div {
    gap: 40px;
  }

  #hero div:first-child h2 {
    font-size: 40px;
  }

  #hero > div:last-child img {
    max-width: 500px;
  }

  .artikel-hero h1 {
    font-size: 44px;
    line-height: 58px;
  }

  .artikel-hero .h1-line-step span:first-child {
    max-width: 465px;
  }

  .artikel-populer .artikel-card-primary {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  #nav-desktop {
    display: none !important;
  }

  .btn-mobile[data-nav="true"] ~ #nav-mobile {
    display: flex !important;
    right: 0;
  }

  .btn-mobile {
    display: flex;
  }

  #homepage #hero {
    flex-direction: column;
    padding-top: 16px;
  }

  #homepage #hero > div:first-child {
    margin-bottom: 40px;
    text-align: center;
  }

  #homepage #hero > div:last-child img {
    width: 100%;
  }

  #homepage #about > div {
    flex-direction: column;
  }

  #homepage #about > div:last-child img {
    width: 100%;
  }

  #homepage #why > div {
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }

  #homepage #why > div > div > div {
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  #homepage #contact .form-control {
    width: 100%;
  }

  #login,
  #create-account,
  #forgot-password,
  #new-password,
  .dashboard-hero,
  .artikel-hero {
    flex-direction: column;
    padding: 8px !important;
    gap: 32px;
    text-align: center;
    justify-content: flex-start;
  }

  #forgot-password,
  #new-password,
  .artikel-hero {
    flex-direction: column-reverse;
    justify-content: flex-end;

  }

  #login .login-form,
  #create-account .create-account-form,
  #forgot-password .forgot-password__form,
  #new-password .new-password__form {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
  }

  #forgot-password .forgot-password__form,
  #new-password .new-password__form {
    align-items: center;
  }

  :is(#login, #create-account, #forgot-password, #new-password, .artikel-hero, #form-buat-artikel > div:first-child) .form-control {
    width: 100%;
  }

  #login > div:first-child img,
  #forgot-password > div:last-child img,
  #new-password > div:last-child img,
  .dashboard-hero > div:first-child img,
  .artikel-hero > div:last-child img {
    width: 100%;
  }

  .profile__settings :is(.profile__public, .profile__personal *) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .profile__settings .profile__account-header {
    flex-wrap: wrap;
    gap: 8px;
  }

  .artikel-hero > div:first-child *:not(.form-control input) {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .artikel-hero > div:first-child h2 {
    font-size: 30px;
    line-height: normal;
  }

  .artikel-hero > div:first-child h1 {
    font-size: 38px;
    line-height: normal;
  }

  .artikel-hero > div:first-child p {
    font-size: 16px;
  }

  .artikel-hero .h1-line-step {
    display: none !important;
  }

  .artikel-hero > div:first-child > div:last-child {
    flex-wrap: wrap;
  }

  #form-buat-artikel > div:first-child {
    flex-wrap: wrap;
    gap: 12px;
  }

  .artikel-populer .artikel-group {
    flex-direction: column;
    gap: 16px;
  }

  .artikel-populer .artikel-group .artikel-card-primary {
    width: 100%;
  }

  .konsultasi-hero {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .konsultasi-hero .gambar img {
    width: 100%;
  }

  .konsultasi-hero * {
    text-align: center !important;
  }

  footer > div {
    flex-direction: column;
    text-align: center;
    align-items: center;

  }

  footer > div:first-child > div:last-child > form {
    justify-content: center;
  }

  footer > div:first-child > div:last-child > div .form-control {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 425px;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  #form-buat-artikel > div:first-child {
    flex-direction: column;
    gap: 8px;
  }

  #chat-bot .cb-card {
    position: fixed;
    right: 0;
    bottom: 90px;
    top: 0;
    width: 100%;
    left: 0;
  }

  .artikel-populer .artikel-group > div:last-child {
    flex-direction: column;
  }

  .artikel-populer .artikel-group .artikel-card-secondary > img {
    width: 100%;
  }

  .artikel-populer .artikel-group .artikel-card-secondary {
    flex-direction: column;
    height: auto;
  }

  .post-card-center-header {
    flex-wrap: wrap;
  }

  .post-card-center-header :is(*, span),
  .post-card-center-body p {
    font-size: 18px !important;
  }

  .post-time-ago {
    display: none;
  }

  .post-time-ago-mobile {
    display: block;
  }

  .post-card-right :is(.comment) div {
    width: 50px;
    height: 50px;
  }

  .konsultasi-swap {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green--md);
  }

  .konsultasi-left {
    max-width: none;
  }

  .modal-content {
    width: 100%;
  }

  #homepage #team > div div img {
    transform: scale(0.8);
  }

  #hero div:first-child h2 {
    line-height: 48px;
    font-size: 36px;
  }

  :is(#about, #why, #services, #team, #contact) h3 {
    font-size: 30px;
  }

  .dashboard-hero div:last-child h2 {
    font-size: 24px;
    line-height: normal;
  }

  .dashboard-hero div:last-child h1 {
    font-size: 32px;
    line-height: normal;
  }

  .dashboard-hero div:last-child h3 {
    font-size: 20px;
    line-height: normal;
  }

  .dashboard-hero div:last-child p {
    font-size: 18px;
  }


  .artikel-hero > div:first-child h2 {
    font-size: 26px;
  }

  .artikel-hero > div:first-child h1 {
    font-size: 34px;
  }

  .artikel-populer,
  .artikel-terbaru {
    margin-top: 32px;
  }

  .artikel-populer h1,
  .artikel-terbaru h1 {
    margin-bottom: 8px;
    text-align: center;
  }

  #sebuah-artikel .artikel-judul {
    font-size: 28px;
  }

  .konsultasi-hero .deskripsi h1 {
    font-size: 32px;
  }

  .konsultasi-hero .deskripsi h3 {
    font-size: 24px
  }

  .konsultasi-hero .deskripsi p {
    font-size: 18px;
  }

  .konsultasi-hero {
    padding-top: 10px;
  }

  #forgot-password .forgot-password__form {
    gap: 8px;
  }

  .forgot-password__title {
    font-size: 36px;
    line-height: normal;
  }

  .forgot-password__desc {
    font-size: 18px;

  }
}