.container:has(#about) {
  padding: 64px 0;
}

#about > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 64px;
}

#about > div > div p {
  font-size: 20px;
  color: var(--gray--xl);
  line-height: 34px;
  text-align: justify;
  margin-bottom: 16px;
}

#about > div > div img {
  border-radius: 32px;
  object-fit: cover;
  width: 500px;
}