.artikel-author {
  display: flex;
  align-items: center;
  gap: 6px;
}

.artikel-author img {
  border-radius: 50%;
}

.artikel-author span:is(:nth-child(2), :last-child) {
  color: var(--gray--md);
  font-weight: 500;
  font-variation-settings: "wght" 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.artikel-author span:nth-child(3) {
  background-color: var(--green--md);
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
